**/.git
**/.gitignore
**/bin
**/obj
**/node_modules
**/dist
**/.env
**/.env.*
**/Dockerfile
**/.dockerignore
**/.github
**/docs
**/.vs
**/.vscode
**/logs
**/Logs
**/*.log
**/coverage
**/.nyc_output
**/.idea
**/*.swp
**/*.swo
*~
